/* Add CSS styles here */
body {
    font-family: 'Garamond', serif;
    background-color: white;
}

header {
    text-align: center;
    margin: 20px;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-column {
    flex: 1;
    padding: 20px;
    background-color: white;
}

.right-column {
    flex: 2;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.personal-info {
    text-align: left; /* To center the content in the left column */
}
/* Add more CSS styling as needed */
